#
#  .gitignore
#  SimpleMtkWlan
#
#  Created by laobamac (王孝慈) on 2026/4/3.
#  Copyright © 2026 laobamac (王孝慈). All rights reserved.
#

.DS_Store
*.xcuserstate
xcuserdata/
DerivedData/
build/
*.dSYM/
*.kext/
*.zip
*.tar.gz
