<?xml version="1.0" encoding="UTF-8"?>
<!--
  Info.plist
  SimpleMtkWlan

  Created by laobamac (王孝慈) on 2026/4/3.
  Copyright © 2026 laobamac (王孝慈). All rights reserved.
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MODULE_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>SimpleMtkWlan</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.laobamac.SimpleMtkWlan</string>
			<key>IOClass</key>
			<string>SimpleMtkWlan</string>
			<key>IOMatchCategory</key>
			<string>IODefaultMatchCategory</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x796114c3 0x060814c3 0x792214c3</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClientClass</key>
			<string>MtkWlanUserClient</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 laobamac (王孝慈) and contributors.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
